/* General page elements styles */
* {
    font-family: "Helvetica", "Courier New", "sans-serif";
}

body {
    background-color: #000;
}

h1, h2, h3, h4, h5, p, ul {
    padding: 0px;
    margin: 0px;
}

h3 {
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

ul {
    list-style: none;
    font-size: 12px;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: #4a4a4a;
}

li a {
    padding: 4px;
}

button {
    text-transform: uppercase;
    font-size: 10px;
    color: #cecece;
    background-color: #3a3a3a;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
}

span {
    text-transform: uppercase;
    font-size: 10px;
}

ul li span {
    display: inline-block;
    width: 50px;
}


#gameScreen {
    margin: 0px auto;
    width: 79%;
    border: 1px solid #5a5a5a;
    position: relative;
}

#gameScreenArea {
    /*background-color:#151540;*/
    background-color:#070707;
    display: inline;
    position:relative;
    z-index: 0;
    float: left;
}

/* General styling for modal elements */
#modal li a:hover {
    border-radius: 0;
}

#modal a {
    cursor: pointer;
    display: block;
    margin: 4px;
    text-decoration: none;
    color: #fff;
}

#modal a:hover {
    background-color: #cecece;
    border-radius: 5px;
    color: #000;
}

.dynamicInput {
    border: none;
    font-size: 12px;
    background-color: transparent;
}


/* Log window styling */
input, textarea, #logwindow {
    color: #cecece;
    background-color: #2a2a2a;
    font-size: 12px;
}

#logwindow  {
    padding: 5px 5px;
    width: 254px;
    width: auto;
    height: 75px;
    font-family:sans-serif;
    overflow: auto;
    height: 610px;
}

#logwindow span {
    text-transform: none;
    font-size: 10px;
    display: inline-block;
    width: 100%;
}

#logwindow span:hover {
    cursor: default;
    background-color: #3a3a3a;
}


/* Info link styles */
.infoLink {
    color: #fff;
    font-weight: bold;
    padding: 0px 5px;
    text-decoration: none;
}

.infoLink:hover {
    text-decoration: underline;
}


/* Tab register elements, e.g. planet dialog */
#modal a.tabregister {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    display: inline;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    background-color: #7a7a7a;
    border: 1px solid #0A0A0A;
    border-bottom: 0px;
    margin-right: 2px;
}

#modal {
    position: absolute;
    display: none;
    z-index: 1;
    left: 2%;
    top: 7%;
}

#modal a.tabregister:hover {
    background-color: #5e5e5e;
    color: #fff;
}

#modal a.tabregister.activetab {
    background-color: #0A0A0A;
    color: #dedede;
}

.planetstats {
    background-color: #0A0A0A;
    display: block;
    padding: 10px;
    min-width: 375px;
}

.tabcontent {
    background-color: #555555;
    background-color: rgba(60,60, 60, 0.38);
    border: 1px solid #0A0A0A;
    border-radius: 0 0 5px 5px;
    color: #dedede;
    display: block;
    height: 120px;
    padding: 10px;
}

hr {
    border: none;
    border-bottom: 1px solid #222;
    clear: both;
}



#stats {
    height: 23px;
    background-color: #4a4a4a;
    padding: 0px 5px;
    border-bottom: 1px solid #1a1a1a;

}

#stats .statsItem {
    float: left;
    background-color: #1a1a1a;
    padding: 0px 15px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
    min-width: 90px;
    overflow: hidden;
    font-size: 15px;
    color: #acacac;
    text-decoration: none;
    display: block;
}

#stats .statsItem:hover {
    background-color: #eee;
    color: #000;
    text-decoration:underline;
    cursor: pointer;
}

#statusBar {
    background-color: #4a4a4a;
    clear: both;
    color: #acacac;
    display: block;
    font-size: 15px;
    height: 17px;
    padding: 5px 10px;
}

#resizeRight {
    background-color: #5a5a5a;
    border: 1px solid #000;
    border-top: 0px;
    border-bottom: 0px;
    cursor: pointer;
    float: left;
    height: 620px;
    width: 4px;
}


/* Combat screen elements */
#overlayContainer {
    display: none;
}

#combatOverlay {
    background-color:#000;
    height: 100%;
    left: 0px;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    width: 100%;
}

#combatDisplay {
    background-color: #000;
    border: 1px solid #7a7a7a;
    border-radius: 10px;
    position:fixed;
    height: 70%;
    width: 70%;
    left: 15%;
    top:15%;
}

#combatArea {
    background-color:#000;
    border: 1px solid #3a3a3a;
    border-bottom-width: 0px;
    border-radius:10px 10px 0px 0px;
    margin: 2% 2% 0px 2%;
}

#combatReport {
    border: 1px solid #3a3a3a;
    border-radius: 0px 0px 10px 10px;
    margin: 0px 2% 2% 2%;
    width: 96%;
}


/*
    Game dialogs ----------------------------------------
*/

/* Planet modal */

#planetInfo {
    background-color: #3c3c3c;
    background-color: rgba(60, 60, 60, 0.15);
    border: 1px solid #5a5a5a;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}

#planetinfo h5 {
    font-size: 12px;
    padding: 5px;
}

#workForceModal button {
    clear: both;
    float: left;
    width: 100px;
    margin-bottom: 5px;
}

#productionModal {
    height: 180px;
}


#productionList {
    float: left;
    width: 200px;
    height: 185px;
    overflow: auto;
}

#productionList ul,
#productionQueue ul {
    height: 100%;
    overflow: auto;
    padding: 0px;
    width: 100%;
}


#productionQueue {
    height: 165px;
    overflow: auto;
    width: 165px;
}

#productionQueue li {
    padding: 3px 6px;
}

#productionModal li a,
#productionQueue li {
    cursor: pointer;
    width: 86%;
    margin: 4px;
    text-decoration: none;
    color: #fff;
}

#productionModal li a:hover,
#productionQueue li:hover {
    background-color: #cecece;
    background-color: rgba(206, 206, 206, 0.42);
    border: 0px solid #efefef;
    border-color: rgba(230, 230, 230, 0.25);
    border-radius: 5px;
    color: #000;
}


#productionList li:hover {
    background-color: transparent;
}

#productionList #activeConstruction {
    color:#ffa300;
}

#productionList #activeConstruction:hover {
    color: #000;
}

/* Fleet per planet listing */
#fleetDetails {
    background-color:#5a5a5a;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    clear: both;
    min-height: 110px;
    padding: 8px;
    width: 358px;
}

/* Fleet modal */
#fleetListing {
    display: inline;
}

#fleetListing a:hover {
    background-color: inherit;
}

#fleetListing li.fleet:hover {
    background-color: #3a3a3a;
}

#fleetControls {
    background-color: #5a5a5a;
    border-radius: 5px;
    display: inline-block;
    float: right;
    padding: 4px;
    width: 50px;
}

#fleetControls span {
    cursor: pointer;
    width: 40px;
    padding: 5px;
    text-align: center;
    float: left;
    clear: both;
}

#fleetControls span.active,
#fleetControls span:hover,
#fleetControls span:focus {
    border-radius: 5px;
    background-color: #aeaeae;
    color: #6a6a6a;
}

#fleetControls span:active {
    color: #000;
    background-color: #dedede;
}

#fleetControls span:focus {
    color: #000;
}

#shipListing {
    background-color: #3c3c3c;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    float: left;
    height: 120px;
    margin-bottom: 5px;
    min-width: 275px;
    overflow: auto;
    padding: 10px;
    font-weight: bold;
}

#fleetListing {
    height: 90px;
    overflow: auto;
}

#fleetListing li:hover {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#fleetListing a:hover {
    color: #fff;
}

a.selectedFleet  {
    background-color: #8a8e8a;
}

#splitFleetModal {
    display: none;
    width: 100%;
}

#partedFleetName {
    font-size: 10px;
    padding: 2px;
    width: 100%;
}

#partedFleet {
    height: 70px;
    overflow: auto;
    width: 100%;
}

/* Research screen */
#researchListing {
    background-color: #666;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}

#researchListing > h3 {
    border-bottom:1px solid #cecece;
    color: #dedede;
    width: 100%;
}

#activeResearch {
    border-bottom: 1px solid #cecece;
    border-radius: 5px 5px 0px 0px;
    background-color: #0d0d0d;
    color: #dedede;
    margin-top: 6px; 
    padding: 8px 2%;
    width: 96%;
}

#researchProject {
    text-transform: uppercase; 
    font-weight: bold;
    color: #fff;
}

#researchProgress {
    margin-top:5px;
}

#techGroupContainer {
    background-color:#3a3a3a;
    border-radius: 0px 0px 5px 5px;
    color: #cecece;
    display:inline-block;
    height: auto;
    margin-bottom: 0px;
    width: 100%;
}

.techGroup {
    background-color: #1a1a1a;
    border-radius: 5px;
    border: 1px solid #6a6a6a;
    float: left;
    padding:1%;
    margin: 2% 2%;
    margin-right: 1%;
    width: 44%;
    cursor: pointer;
    height: 90px;
}

.techGroup:hover {
    background-color: #6a6a6a;
    color: #000;
}

.techGroup ul {
    padding: 5px;
}

.techOption {
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px 4px;
}

.techOption:hover {
    color: #eee;
}

#researchDescription {
    background-color: #0d0d0d;
    border-radius: 5px;
    color: #dedede;
    clear: both;
    font-size: 12px;
    height: 40px;
    padding: 2%;
    width: 96%;
}


/* Research screen */
#planetListing {
    background-color: #666;
    background-color: rgba(60,60,60, 0.22);
    height: auto;
    border-radius: 5px;
    padding: 4px;
    width: 480px;
}

#planetListing > h3 {
    border-bottom: 1px solid #1a1a1a;
    color: #dedede;
    margin-bottom: 2px;
    width: 96%;
    padding: 3px 2%;
}

#planetListing #planetFilter {
    background-color: #0d0d0d;
    border-bottom: 1px solid #8a8a8a;
    border-radius: 5px 5px 0 0;
    color: #dedede;
    height: auto;
    float: left;
    padding: 1% 5px;
    padding-bottom: 0px;
    width: 98%;
    display: inline-block;
    margin: 0px;
}

#planetListing #planetFilter li {
    float: left;
    margin-left: 3px;
    padding: 5px 5px;
    border: 1px solid #000;
    border-bottom-width: 0px;
    border-radius: 5px 5px 0px 0px;
}

#planetListing #planetFilter li:hover {
    cursor: pointer;
    color: #050505; 
    background-color: #dedede;
}

#planetListing #planetFilter li.filterSelected {
    color: #eaae00;
    background-color: #2b2b2b;
    border-color: #4e4e4e;
}

#planetListing #planetList {
    background-color: #0d0d0d;
    background-color: rgba(14,14,14, 0.25);
    border-radius: 0 0 0 5px;
    clear: both;
    color: #cecece;
    float: left;
    height: 300px;
    padding: 8px;
    text-align: right;
    width: 200px;
    overflow: hidden;
}

#planetListing #planetList li {
    padding: 2% 2%;
    padding-right: 5%;
    width: 97%;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 5px 0px 0px 5px;
    border-right-width: 0px;
    margin-bottom: 3px;
}

#planetListing #planetList li.active {
    color: #eaae00;
    background-color: #000;
    background-color: rgba(0,0,0, 0.65);
    border-color: #4e4e4e;
}

#planetListing #planetList li:hover {
    background-color: #000;
    background-color: rgba(0,0,0, 0.65);
    border-color: #4e4e4e;
    color: #eee;
}

#planetListing #planetDetails {
    background-color: #000;
    background-color: rgba(0,0,0, 0.35);
    border-radius: 0 0 5px 0px;
    color: #cecece;
    height: 300px;
    padding: 8px 10px;
    width: 234px;
    display: inline-block;
    padding-left: 20px;
}

#planetListing #planetDetails p {
    font-size: 12px;
}

#planetListing #planetDetails span {
    width: 165px;
    display: inline-block;
    text-transform: uppercase;
}

#planetListing #commands {
    clear: both;
    display: inline-block;
    padding: 12px 1% 7px 1%;
    width: 98%;
}

#planetListing #commands button {
    float: left;
    margin-top: 8px;
    margin-right: 8px;
    width: 112px;
}

#planetListing #commands button:disabled {
    background-color: #0e0e0e;
    color: #6a6a6a;
}

#planetListing #commands button.active {
    background-color: #7a7a7a;
    color: #000;
}